@import './variables.scss';

input[type="text"] {
    padding: 10px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    outline: none;
    color: $ice-color;

    border-radius: 8px;
    border: none;
    background-image: none;
    letter-spacing: 0.7px;
    font-size: 16px;

    transition: 500ms;
}