$primary-color: #262626;
$secondary-color: #3f3f3f;
$ice-color: #f5f5f5;
$light-color: #dcdcdc;

$telegram-logo-url: 'https://www.wallpapertip.com/wmimgs/159-1596990_dark-minimal-mountains-at-night-1080p-laptop-full.jpg';
