@import './stylesheet/variables.scss';

.home-container {
    margin: auto;
    max-width: 1200px;
    background-color: rgba($color: $primary-color, $alpha: 0.8);
    min-height: 95vh;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}