@import './stylesheet/variables.scss';

.home-container {
    margin: auto;
    max-width: 1200px;
    background-color: rgba($color: $primary-color, $alpha: 0.3);
    min-height: 95vh;

    .top-head-content {
        padding: 42px;
        background-color: rgba($color: $primary-color, $alpha: 0.4);

        &:after {
            content: '';
            background-color: red;
        }

        .main-info-bar {
            .user-short-info {
                color: $ice-color;
                margin-top: 12px;
                font-weight: 600;
                letter-spacing: 0.9px;
            }

            .user-avatar {
                border-radius: 360px;
                width: 200px;
            }
        }
    }

    .menu-bar {
        .menu-header {
            margin-top: 32px;
            font-size: 24px;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}