/**
  * Variables
  */
@import './stylesheet/variables.scss';

/**
  * Layout
  */
@import './stylesheet/layout/navbar.scss';

/**
  * Pages
  */
@import './stylesheet/pages/auth.scss';
@import './stylesheet/pages/home.scss';

/**
  * Components
  */
@import './stylesheet/loaders/modal-loader.scss';

/**
  * Tags/overrides
  */
@import './stylesheet/override.scss';
@import './stylesheet/base.scss';

.led-green {
  margin: 12  px;
  width: 12px;
  height: 12px;
  background-color: #690;
  border-radius: 50%;
  margin-top: 10px;
}

.avatar {
  border-radius: 32px;
  width: auto;
}

.user-short-info {
  color: white;
  padding: 12px;
}

.page-container {
  padding: 32px;
}
